@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
    font-family: "Montserat", sans-serif;
    overflow-x: hidden;
}

#menu li > a {
    font-size: 18px;
    font-weight: bold;
    color: #3f3f3f;
}

#menu button {
    font-size: 18px;
    font-weight: bold;
}

.carousel-inner {
    max-height: 39rem;
}

/*MEDIA PANTALLA SM*/

@media (max-width:768px) {
    #intro, #equipo {
        width: 90%  !important;
    }

    #equipop {
        display: none;
    }
    .servicio-fila {
        width: 100% !important;
        text-align: center;
    }
}

/*MEDIA PANTALLA SM*/

@media (max-width: 576px) {
    .icono-wrap {
        flex-wrap: wrap;
        justify-content: center !important;
    }
}

/*FOOTER*/

footer {
    background: #1b2a4e;
    min-height: 100px;
}

footer p {
    color: #f3f3f3;
    text-align: center;
}

#iconos i {
    font-size: 26px;
    padding: 0 8px;
    color: #f3f3f3;
}

